body {
  background: white;
  color: black;
  font-family: "Play", sans-serif;
}

#frozenSide {
  position: fixed;
  background: white;
  padding: 10px;
  margin: 0;
  height: 100%;
}

.contactItem {
  display: inline-block;
  width: 10%;
  margin-left: 10%;
  margin-right: 5%
  position: relative;
}

#asset1 {
  background: orangered;
  color: aquamarine;
  height: 400px;
}

#asset2 {
  background: aqua;
  color: orangered;
  height: 400px;
}
